table, th, td {
    border:1px solid black;
  }
form{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    border: 2px black solid;
    padding: 20px;   
}
body{
    width: 60vw;
    min-width: 400px;
    margin: auto;
    background-color: bisque;
}