
form{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    border: 2px black solid;
    background-color: wheat;
    padding: 20px;   
    border-radius: 15px;
    
}
body{
    width: 60vw;
    min-width: 400px;
    margin: auto;
    background-color: bisque;
}
h2{
    text-decoration: underline;
}
.delete{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: red;
    padding: 0px 0px 0px 0px;
    color: white;

}
.input-group-text{
    font-weight: bold;
}
table, th, td{
    border: 1px black solid; 
    text-align: center;
}

