form{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    border: 2px black solid;
    background-color: wheat;
    padding: 20px;   
    border-radius: 15px;
    width: auto;
    
}
body{
    width: 60vw;
    min-width: 400px;
    margin: auto;
    background-color: bisque;
}
h2{
    text-decoration: underline;
}
.delete{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: red;
    padding: 0px 0px 0px 0px;
    color: white;
}
.input-group-text{
    font-weight: bold;
}
table, th, td{
    border: 1px black solid; 
    text-align: center;
    max-width: 90vw;
}

@media only screen and (max-width: 773px) {
    table, th, td{
        font-size: 2.5vw;
    }
    
.delete{
    width:  20px;
    height: 20px;
    font-size: 0.5rem;
    border-radius: 6px;
    background-color: red;
    padding: 0px 0px 0px 0px;
    color: white;
}
    
}
#cucc{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
#osszar_szamolo{
    font-size: 20px;
    font-weight: bold;
    margin: auto 0px auto;
}